body {
  background: #f9f9f9;
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
}

input, button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

/* google icons */
.material-icons.md-18 {
  font-size: 16px;
}

/*###################### CSS GRID #####################*/
.top-offset{
  margin-top: 1%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1%;
  padding: 1%;
  margin: 0 auto;
  max-width: 60%;
}
 .grid-container > .show-div {
  background-color: #ffffff;
  text-align: center;
  padding: 20px 0;
  box-shadow: 1px 1px 1px 1px #cecece;
  min-width: 100px;
  border-radius: 10px;
}

/* left, middle or right positioned div */
.item-left {
  grid-column-start: 1;
}
.item-mid {
  grid-column-start: 2;
}
.item-right {
  grid-column-start: 3;
}

/* two columns left = 33% space, right = 66% space*/
.item2-left {
  grid-column-start: 1;
  grid-column-end: 2;
}

.item2-right {
  grid-column-start: 3;
}


/* Loading bar ######################################################## */
.loader-div {
  border: 5px solid;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: orange transparent transparent;
  animation: spin 2s linear infinite;
  position: fixed;
  display: inline-block;
  top: 50%;
  left: 50%;

  /*subtract margin by radius to center */
  margin-left: -25px;
}
@keyframes spin {
  100%{
    transform: rotate(360deg);
    filter:hue-rotate(360deg);
  }
}

/* Navigation Bar ###################################################### */

.topnav {
    background-color: #333;
    overflow: hidden;
}
.topnav #logout_ele {
  background-color: #d13030;
  text-align: center;
  vertical-align: middle;
}
.topnav #logout_ele:hover {
  background-color: #ff5b5b;
  color: white;
}
.topnav #welcome_ele:hover {
  background-color: #333;
  color: white;
}
/* Style the links inside the navigation bar */
.topnav a, .topnav p {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


/* Main div (i.e basic format for each div) ##########################*/
.main-div {
  padding: 15px;
  /* display: none; */
  text-align: center;
}

.main-div input {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 60%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.main-div input:focus {
  border: 1px solid #777;

}
.main-div button {
  background: #5d8ffc;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  display: inline-block;
  width: 60%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.main-div button:hover {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;
}
.main-div #backButton {
  background: rgba(198, 198, 198, 0.9);
  color: #fff;
  border: 1px solid rgba(198, 198, 198, 1);
  /* width: 50%; */
}
.main-div #backButton:hover{
  background: #fff;
  color: rgba(198, 198, 198, 0.8);
  border: 1px solid rgba(198, 198, 198, 1);
  cursor: pointer;
}


/*################### Main app page #######################*/
.button-div {
  background: #fff;
  overflow: auto;
  display: inline-block;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.userButton {
  display: inline-block;
  color: rgba(155, 155, 155, 1);
  text-align: center;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.userButton:hover {
  color: rgba(93, 143, 252,0.9);;
  cursor: pointer;
}

/*timer area---*/
.timerBox-div {
  background: #25272b;
  color: #fff;
  border: 2px inset #efefef;
  border-radius: 5px;
  display: block;
  width: 80%;
  margin: auto;
  box-shadow: 1.5px 1.5px 1.5px #cecece;
  transition: 5.3s;
  -webkit-transition: 5.3s;
  -moz-transition: 5.3s;
}




/*##################### Settings #################*/
.settingButton-div{
  display: block;
  padding: 15px;
  text-align: center;
}
.info-div{
  width:auto;
  display: block;
  padding: 15px;
  border: 2px solid #cecece;
  border-radius: 15px;
  text-align: left;
}
.main-div .settingButtons {
  background: #fff;
  color: rgba(0, 0, 0 ,0.6);
  border: 2px solid rgb(209, 209, 209);
  cursor: pointer;
  border-radius: 30px;
  text-align: left;

  padding: 15px;
  margin: 10px;
  display: block;
  width:60%;
  transition: 5s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.main-div #easyButton:hover{
  background: rgba(33, 201, 0, 0.2)!important;
  color: rgba(33, 201, 0, 0.8)!important;
  border: 2px solid rgba(33, 201, 0, 0.8)!important;
}

.main-div #mediumButton:hover{
  background: rgba(255, 144, 0, 0.2)!important;
  color: rgba(255, 144, 0, 0.8)!important;
  border: 2px solid rgba(255, 144, 0, 0.8)!important;
}

.main-div #hardButton:hover{
  background: rgba(230, 0, 0, 0.2)!important;
  color: rgba(230, 0, 0, 0.8)!important;
  border: 2px solid rgba(230, 0, 0, 0.7)!important;

}




/* for devices smaller than the given pixel */
@media screen and (max-width: 550px) {

  /* .timerDisplay-div {
   font-size: 4.5vw;
  } */
  .grid-container {
    max-width: 100%;
  }

  .topnav {
      background-color: #333;
      overflow: hidden;
      height:28px;
      /* max-height: 45px;
      min-height: 20px; */
  }

  /* Style the links inside the navigation bar */
  .topnav a, .topnav p {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 7px 8px;
      text-decoration: none;
      font-size: 12px;
  }

  .userButton {
    padding-left: 3px;
    padding-right: 3px;

  }

}
